body {
  font-size: 0.9rem; }

i {
  color: #db4c3f; }

nav {
  background-color: #db4c3f;
  box-shadow: unset;
  color: white;
  flex-shrink: 0;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  left: 0; }
  nav i {
    color: white; }
  nav li {
    cursor: pointer; }
  @media (min-width: 577px) {
    nav .mobile-nav {
      display: none; } }

#inputBox {
  background-color: unset;
  border: none;
  border-bottom: 1px solid lightgray;
  font-size: 0.9rem;
  margin: 0.25rem 0;
  padding: 0.5rem 0;
  width: 100%; }

#logo {
  font-family: "Courgette"; }

#main-panel {
  flex: 4;
  overflow-y: auto;
  padding: 2rem;
  min-height: 0; }

#side-panel {
  background-color: #FAFAFA;
  border-right: 1px solid #ECECEC;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 12rem;
  padding: 1.5rem 0;
  transition: 0.3s; }
  #side-panel .divider {
    align-self: center;
    width: 80%;
    margin: 0.5rem;
    border-bottom: 2px solid #ECECEC; }

@media (max-width: 576px) {
  #side-panel {
    min-width: 0;
    max-width: 0;
    overflow: hidden; }
  #side-panel.active {
    min-width: 12rem !important; } }

#task-container {
  display: flex;
  flex-direction: column; }

#task-header {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  margin-bottom: 1.5rem; }

#task-title {
  border: 1px solid transparent;
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  #task-title:focus {
    border: 1px solid lightgray; }

.btn-none {
  font-size: 1rem; }
  .btn-none:hover {
    color: #db4c3f; }

.fa-trash {
  cursor: pointer; }

.item-input {
  background-color: unset;
  border: none;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  width: 100%; }

.list-item {
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-shrink: 0;
  font-size: 0.9rem;
  justify-content: space-between;
  margin: 0.25rem 0;
  padding: 0.5rem 0; }
  .list-item .append {
    display: flex;
    color: #68aecf;
    margin-left: 0.5rem; }

.tab {
  cursor: pointer;
  font-size: 1rem;
  overflow-x: hidden;
  padding: 0.5rem 2rem;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .tab:hover {
    background-color: white; }

.tab.active {
  font-weight: 600;
  background-color: white; }
