$theme-color: rgb(47, 116, 148);
$theme-color: lightseagreen;
$theme-color: rgb(219, 76, 63);

body {
  font-size: 0.9rem;
}

i {
  color: $theme-color;
}

nav {
  background-color: $theme-color;
  box-shadow: unset;
  color: white;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  left: 0;

  i {
    color: white;
  }

  li {
    cursor: pointer;
  }
  
  @media (min-width: 577px) {
    .mobile-nav {
      display: none;
    }
  }
}

#inputBox {
  background-color: unset;
  border: none;
  border-bottom: 1px solid lightgray;
  font-size: 0.9rem;
  margin: 0.25rem 0;
  padding: 0.5rem 0;
  width: 100%;
}

#logo {
  font-family: "Courgette";
}

#main-panel {
  flex: 4;
  overflow-y: auto;
  padding: 2rem;
  min-height: 0;
}

#side-panel {
  background-color: #FAFAFA;
  border-right: 1px solid #ECECEC;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 12rem;
  padding: 1.5rem 0;
  transition: 0.3s;

  .divider {
    align-self: center;
    width: 80%;
    margin: 0.5rem;
    border-bottom: 2px solid #ECECEC;
  }
}

@media (max-width: 576px) {
  #side-panel {
    min-width: 0;
    max-width: 0;
    overflow: hidden;
  }
  #side-panel.active {
    min-width: 12rem !important;
  }
}

#todo-content {
  display: flex;
  flex-direction: column;
  // min-height: min-content;
}

#todo-header {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

#todo-title {
  font-weight: 500;
}

// use with symbol &#9675
.btn-none {
  font-size: 1rem;
  &:hover {
    color: $theme-color;
  }
}

.list-item {
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-shrink: 0;
  font-size: 0.9rem;
  justify-content: space-between;
  margin: 0.25rem 0;
  padding: 0.5rem 0;

  .append {
    display: flex;
    color: rgb(104, 174, 207);
    margin-left: 0.5rem;
  }
}

.tab {
  cursor: pointer;
  font-size: 1rem;
  overflow-x: hidden;
  padding: 0.5rem 1.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    background-color: white;
  }

}
.tab.active {
  font-weight: 600;
  background-color: white;
}

.fa-trash {
  cursor: pointer;
}

.todo-input {
  background-color: unset;
  border: none;
  // border-bottom: 1px solid lightgray;
  font-size: 0.9rem;
  // margin: 0.25rem 0;
  // padding: 0.5rem 0;
  margin: 0;
  padding: 0;
  width: 100%;
}
